@charset "utf-8";
/* CSS Document */

* {	margin:0; /*zeroes out all default margins and padding*/
	padding:0;}
	
body {
	font-family:Geneva, Arial, Helvetica, sans-serif;
	font-size:100.1%;
	background-image: url(../images/body_bg.gif);
	background-repeat: repeat-x;
	background-position:left top;
	background-color: #7f817B;
}
a:link, a:visited{/*sets default link color to niu red*/
	color:#CC0000;
	text-decoration:none;
	}

a:hover {
	color:#CC0000;
	text-decoration:underline;
}

#wrapper {
	text-align: left;
	padding: 0px;
	width: 944px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}

#header {
	float: left;
	height:120px;
	width: 944px;
	background-image: url(../images/header_bg.jpg);
	background-repeat: no-repeat;
	background-position:left top;
	position: relative;
	left:0px;
	top:0px;
	margin:8px 0 0 0;
	padding:0px;
	background-color: #ededed;
	
} 

#header h1 {
	position: absolute;
	left: 10px;
	top: 5px;
	margin: 0px;
	padding: 0px;
	width:115px;
	border:solid 0px red;
	height: 110px;
}

#header h2 {
	position: absolute;
	left: 131px;
	top: 18px;
	height: 35px;
	width: 797px;
	color:#ffffff;
}

.Quick_Nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: none;
}

#myNIU {
	height: 41px;
	width: 64px;
	position: absolute;
	top: 24px;
	left: 705px;
	
}

#globalNav {
	width: 300px;
	font-size: 11px;
	position: absolute;
	left: 620px;
	top: 12px;
	text-align:right;
}

#globalNav a:link, #globalNav a:visited {
color:#FFFFFF;
text-decoration:none;
}

 #globalNav a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
#search {
	width: 200px;
	font-size: 11px;
	position: absolute;
	left: 723px;
	top: 30px;
	text-align:right;
}

#search a:link, #search a:visited {
color:#FFFFFF;
text-decoration:none;
}

#search a:hover {
	color:#FFFFFF;
	text-decoration:underline;
}
#topNavbar {
	background-image:url(../images/topNav_bg.jpg);
	background-repeat:no-repeat;
	background-position:left top;
	text-align: center;
	margin: 0px;
	padding: 0px;
	float: left;
	width: 810px;
	height:45px;
	position:absolute;
	left:125px;
	top: 82px;
		}
#topNavbar ul {
	list-style-type: none;
	font-size: 0.85em;
	/*	font-weight: bold;*/
	margin-top:9px;
	margin-bottom: 0em;
	
}
#wrapper #topNavbar li {
	display: inline;
	padding-right: .5em;
	padding-left: .5em; /*changed from 1em to create more space in topnav*/
	padding-bottom: .5em;
}
#wrapper #topNavbar a:link, #wrapper #topNavbar a:visited {
	color: #FFFFFF;
	padding-bottom: .5em;
	font-weight:bold;
}
#wrapper #topNavbar a:hover, #wrapper #topNavbar a:focus {
	color: #FFFFFF;
	background-image: url(../images/top_nav_hover.gif);
	background-position: center bottom;
	background-repeat: no-repeat;
	padding-bottom: 7px;
	text-decoration: none;
	z-index:99;
}


#mainContent {
	float: left;
	width: 944px;
	margin: 0px;
	padding-bottom:0px;
	position: relative;
	padding-top: 5px;
	padding-right: 0px;
	padding-left: 0px;
	min-height:550px;
	background-color:#f5f5f5;
	background-image: url(../images/mainContent_alt_bg.gif);
	background-repeat: no-repeat;
}

#mainHeading  {
	height: 42px;
	float:left;
	width:944px;
	background-image: url(../images/mainHeading_bg.jpg);
	background-repeat: no-repeat;
	
	
}

#mainHeading h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.3em;
	font-weight: normal;
	margin:0em;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
	color: #FFF;
}

#mainHeading div.tools{
	float:right;
	height:20px;
	margin:14px 0 0;
	text-align:right;
	width:160px;
}

#mainHeading div.custom{
	float:right;
	height:20px;
	margin:11px 0 0;
	text-align:right;
	width:160px;
}
ul#helpTools {

	float: right;
	height: 20px;
	width: 160px;
	text-align:right;
	margin:14px 0 0 0;
}
ul#helpTools li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	display: inline;
	float:left;
	padding:0 8px 0 0;
}
ul#helpTools li img {
	border:0px; 
	float:left;
	margin-right:4px;
	
}
ul#helpTools li a {
	color: #FFFFFF;
}

#footer {
	background-image: url(../images/footer_bg.gif);
	background-repeat:no-repeat;
	background-position: left top;
	width: 928px;
	float: left;
	position:relative;
	padding-top: 20px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 8px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	left:0;
}

#footer p  {
	margin: 0; 
	padding: 10px 0; 
	color: #FFFFFF;
	font-size: 11px;
}
#footer #locations p {
	text-align: right;
	float: right;
}

#footer #copyright {
	padding-left: 0px;
	width: 320px;

}
.memoriallink {
	position: absolute;
	left: 6px;
	top: 26px;
}
.footer_niu {
	position: absolute;
	left: 408px;
	top: 24px;
}
.footer_niu_print {
	position: absolute;
	left: 408px;
	top: 8px;
	display:none;
}

#google_analytics {
display:none;
}

#footer a:link, #footer a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#footer a:hover, #footer a:focus {
	color: #FFFFFF;
	text-decoration: underline;
}
.memoriallink {
	position: absolute;
	left: 6px;
	top: 26px;
}
#printlogo {
	margin:0 ;
	height: 40px;
	position: absolute;
	left: 16px;
	top: 16px;
	display:none;
}
