@charset "utf-8";
/* CSS Document */

* { margin:0; /*zeroes out all default margins and padding*/
    padding:0;}
    
body {
    font-family:Geneva, Arial, Helvetica, sans-serif;
    font-size:100.1%;
    background-image: url(../images/body_bg.gif);
    background-repeat: repeat-x;
    background-position:left top;
    background-color: #edece7;
}
a:link, a:visited{/*sets default link color to niu red*/
    color:#CC0000;
    text-decoration:none;
    }

a:hover {
    color:#CC0000;
    text-decoration:underline;
}

#wrapper {
    text-align: left;
    padding: 0px;
    width: 944px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    position: relative;
}

#header {
    float: left;
    height:135px;
    width: 100%;
    /*background-image: url(../images/header_bg.jpg);*/
    background-repeat: repeat-x;
    background-position:left top;
    position: relative;
    left:0px;
    top:0px;
    margin:8px 0 0 0;
    padding:0px;
    background-color: #595846;
    
} 

#header h1 {
    position: absolute;
    left: 15px;
    top: 5px;
    margin: 0px;
    padding: 0px;
    width:70px;
    border:solid 0px red;
    height: 110px;
}

#header h2 {
    position: absolute;
    left: 100px;
    top: 16px;
    /*height: 71px;*/
    /*width: 500px;*/
    color:#ffffff;
}

.Quick_Nav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: none;
}

#globalNav {
    width: 380px;
    font-size: 11px;
    position: absolute;
    right: 20px;
    top: 12px;
    text-align:right;
    color:#ffffff;
}

#globalNav a:link, #globalNav a:visited {
color:#FFFFFF;
text-decoration:none;
}

 #globalNav a:hover {
    color:#FFFFFF;
    text-decoration:underline;
}
#search {
    width: 200px;
    font-size: 11px;
    position: absolute;
    left: 80%;
    top: 30px;
    text-align:right;
}

#search a:link, #search a:visited {
color:#FFFFFF;
text-decoration:none;
}

#search a:hover {
    color:#FFFFFF;
    text-decoration:underline;
}
#topNavbar {
    background-image:url(../images/topNav_bg.jpg);
    background-repeat:no-repeat;
    background-position:left top;
    text-align: center;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 810px;
    height:40px;
    position:absolute;
    left:100px;
    top: 100px;
        }

#topNavbar {
    /* background-image: url("../images/topNav_bg.jpg");
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #CC0000;
    float: left;
    height: 30px;
    left: 104px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    top: 95px;
    width: 824px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;*/
    }
#topNavbar ul {
    list-style-type: none;
    font-size: 0.8em;
    /*  font-weight: bold;*/
    margin-top:9px;
    margin-bottom: 0em;
    
}
#wrapper #topNavbar li {
    display: inline;
    padding-right: .5em;
    padding-left: .5em; /*changed from 1em to create more space in topnav*/
    padding-bottom: .5em;
}
#wrapper #topNavbar a:link, #wrapper #topNavbar a:visited {
    color: #FFFFFF;
    padding-bottom: .5em;
    font-weight:bold;
}
#wrapper #topNavbar a:hover, #wrapper #topNavbar a:focus {
    color: #FFFFFF;
    background-image: url(../images/top_nav_hover.gif);
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 7px;
    text-decoration: none;
    z-index:99;
}


#mainContent {
    float: left;
    width: 944px;
    margin: 0px;
    padding-bottom:0px;
    position: relative;
    padding-top: 5px;
    padding-right: 0px;
    padding-left: 0px;
    min-height:550px;
    background-color:#f5f5f5;
    background-image: url(../images/mainContent_alt_bg.gif);
    background-repeat: no-repeat;
}

#mainHeading  {
    height: 42px;
    float:left;
    width:100%;
    /*background-image: url(../images/mainHeading_bg.jpg);*/
    background-repeat: no-repeat;
    
    
}

#mainHeading h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.3em;
    font-weight: normal;
    margin:0em;
    padding-top: 10px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 15px;
    color: #FFF;
}

#mainHeading div.tools{
    float:right;
    height:20px;
    margin:14px 0 0;
    text-align:right;
    width:160px;
}

#mainHeading div.custom{
    float:right;
    height:20px;
    margin:11px 0 0;
    text-align:right;
    width:230px;
}
ul#helpTools {

    float: right;
    height: 20px;
    width: 160px;
    text-align:right;
    margin:14px 0 0 0;
}
ul#helpTools li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    display: inline;
    float:left;
    padding:0 8px 0 0;
}
ul#helpTools li img {
    border:0px; 
    float:left;
    margin-right:4px;
    
}
ul#helpTools li a {
    color: #FFFFFF;
}

#footer {
    background-image: url(../images/footer_bg.gif);
    background-repeat:no-repeat;
    background-position: left top;
    width: 928px;
    float: left;
    position:relative;
    padding-top: 20px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 8px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    left:0;
}

#footer p  {
    margin: 0; 
    padding: 10px 0; 
    color: #FFFFFF;
    font-size: 11px;
}
#footer #locations p {
    text-align: right;
    float: right;
}

#footer #copyright {
    padding-left: 0px;
    width: 320px;

}
.memoriallink {
    position: absolute;
    left: 6px;
    top: 26px;
}
.footer_niu {
    position: absolute;
    left: 408px;
    top: 24px;
    display:none;
}
.footer_niu_print {
    position: absolute;
    left: 408px;
    top: 8px;
    display:none;
}

#google_analytics {
display:none;
}

#footer a:link, #footer a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
#footer a:hover, #footer a:focus {
    color: #FFFFFF;
    text-decoration: underline;
}
.memoriallink {
    position: absolute;
    left: 6px;
    top: 26px;
}
#printlogo {
    margin:0 ;
    height: 40px;
    position: absolute;
    left: 16px;
    top: 16px;
    display:none;
}
#image_rotator_content {
    display: none;
}
#image-rotator-container {
    border: 0px solid red;
    height: 290px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 73.09322033898305%;
    top: 0px;
    left: 18px;
    border-radius: 12px; 
    -moz-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
    /*margin-right:12px;*/
}
.marquee_photos {
    left: 0;
    position: absolute;
    top: 0;
}
.marquee_caption {
    background-color: #333333;
    color: #FFFFFF;
    height: 50px;
    left: 0;
    margin: 0;
    opacity: 0.8;
    padding: 15px 0 10px;
    position: absolute;
    top: 200px;
    width: 700px;
}
.marquee_caption_content {
    padding: 0 0 0 10px;
    width: 280px;
}
.marquee_caption p {
    border: 0 solid orange;
    color: #FFFFFF;
    font-size: 0.75em;
    line-height: 1.4em;
    margin: 0 0 12px;
}
.marquee_caption a {
    color: #FFC600;
}
.marquee_caption a:hover {
    color: #FFFFFF;
}
.marquee_flag {
    border: 1px solid;
    float: left;
    margin-right: 10px;
}
.image-rotator-nav {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 230px;
    width: auto;
}
.image-rotator-nav a {
    width:70px;
    height:50px;
}
.image-rotator-nav a:hover {
    background-position: -20px 0;
}
.image-rotator-nav a.selected {
    opacity:1;
    filter:alpha(opacity = 100);
    zoom:1;
}

a.marquee_nav_item {
    border: 0px solid #B2B1AF;
    border-radius: 0px 0px 0px 0px;
    height: 17.85714285714286%; /* 50 / 280 */
    margin: 0 4px;
    opacity:.6;
    filter:alpha(opacity = 60);
    zoom:1;
    width: 10.14492753623188%;  /* 70 / 690 */
    overflow: hidden;
    padding: 0px;
} 